*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container
{
    display:grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    width: 100px;
    height: 100px;   
}

.container div{
    width: 100px    ;
    height: 100px;    
    border:1px;
    border-style:solid; 
    border-color:rgb(0, 0, 0);
}
.black{
    background-color:rgb(218, 50, 209);  

    overflow:hidden;
}

.pink{
    background-color:#ffffff;
    overflow:hidden;
}